<!-- start custom head snippets -->

<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/bigfoot.js"></script>
<script type="text/javascript">
	var bigfoot = $.bigfoot(
		{
		actionOriginalFN: "ignore",
		positionContent: "true"
		}
	);
</script>

<!-- Slider CSS -->
{% if page.carousel %}
<!-- Google CDN Hosted jQuery  -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Flexslider Library  -->
<script src="{{ base_path }}/assets/js/flexslider.min.js"></script>
<!-- Initialisation Code  -->
<script src="{{ base_path }}/assets/js/app.js"></script>
{% endif %}

<!-- <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" > -->
<link rel="icon" href="{{ "/favicon.png" | prepend: site.baseurl }}" >

<!-- end custom head snippets -->
