<!-- start custom head snippets -->

<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/bigfoot.js"></script>
<script type="text/javascript">
	var bigfoot = $.bigfoot(
		{
		actionOriginalFN: "ignore",
		positionContent: "true"
		}
	);
</script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),
	p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,
	"script","https://chimpstatic.com/mcjs-connected/js/users/64037b59d24848bd5dfedb5ab/dc0fd706b838b6e440f77b04e.js");
</script>

<!-- <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" > -->
<link rel="icon" href="{{ "/favicon.png" | prepend: site.baseurl }}" >

<!-- end custom head snippets -->
