---
layout: splash
title: "Persone - Processi - Performance"
date: 2016-03-23T11:48:41-04:00
claim: "Stimoliamo **Persone** per Modificare **Processi** e Aumentare le **Performance**"
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: header.jpg
  cta_label: "SCOPRI DI PIU'"
  cta_url: "/about/"
  caption: ""
excerpt: "Aiutiamo **Persone** a Modificare **Processi** per Aumentare le **Performance**" 
# intro: 
#  - excerpt: "aaaa"
#    url: "https://www.twitter.com/bmenicucci"
#    btn_label: "Follow"
#    btn_class: "btn--twitter"
services:
  - image_path: archimedes_lever.png
    alt: "Strategie per crescere in modo sostenibile e profittevole"
    title: "Strategia"
    excerpt: "In un mondo caratterizzato da [**Volatilità, Incertezza, Complessità e Ambiguità**](https://en.wikipedia.org/wiki/Volatility,_uncertainty,_complexity_and_ambiguity) *(VUCA)* molte organizzazioni ritengono inutile sviluppare una **Strategia**; e invece è proprio in questo contesto così indefinito che bisogna tracciare, con chiarezza e lucidità, la rotta da seguire. Con la nostra consulenza di organizzazione possiamo aiutarvi a [disegnare e implementare strategie vincenti](/strategia-aziendale/), per guidare l’azienda verso **una crescita sostenibile e profittevole**"
    url: "/strategia-aziendale/"
    btn_label: "More >>" 
    btn_class: "btn--danger"
  - image_path: operations.jpg
    alt: "Eccellenza Operativa"
    title: "Eccellenza Operativa"
    excerpt: "Mai come oggi le organizzazioni sono state spinte a **fare sempre di più con meno risorse e in meno tempo!** Noi abbiamo le competenze giuste per aiutarvi a [snellire i processi e a migliorare le performance operative](/eccellenza-operativa/). Lo facciamo mettendo a disposizione gli strumenti più efficaci e innovativi, aiutandovi a implementare sistemi di miglioramento continuo e a [ottenere la partecipazione (e motivazione) di tutte le persone coinvolte](/allineamento-delle-persone/)"
    url: "/eccellenza-operativa/"
    btn_label: "More >>"
    btn_class: "btn--danger"
  - image_path: bussola.jpg
    title: "Performance Analytics"
    excerpt: "[**Il Controllo di Gestione**](/il-controllo-di-gestione/) si è evoluto: le statistiche del gestionale o dei vari programmi utilizzati in azienda non sono più sufficienti! In un contesto come quello attuale il Management ha bisogno di **informazioni che siano di aiuto nel prendere decisioni**. Noi vi aiutiamo a definire quali informazioni *servono* e a farle arrivare in modo rapido, attraverso tutta l’organizzazione, con uno strumento scalabile capace di mettere insieme dati provenienti da fonti diverse in [**un Cruscotto Direzionale che permette di governare l’azienda**](/performance-analytics/)."
    url: "/performance-analytics/"
    btn_label: "More >>"
    btn_class: "btn--danger"
feature_row2:
  - image_path: blog/post03.jpg
    alt: "Performance Analytics"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row3:
  - image_path: blog/1.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row4:
  - image_path: blog/2.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="services" %}

<!-- {% include feature_row id="feature_row2" type="left" %}

//{% include feature_row id="feature_row3" type="right" %}

//{% include feature_row id="feature_row4" type="center" %} -->