<section id="richiestaintervento">
    <div class="alert alert-block alert-success">
	    <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
    		<h2>Consultaci senza impegno!</h2>
		    	<p class="text-muted" >Chiamaci al <strong>+39 0584 1716126</strong> o <a href="/incontro-preliminare/">clicca qui:</a> nel corso di un incontro riservato e gratuito, saremo lieti di illustrarti in che modo possiamo affiancarti nell’affrontare e risolvere i tuoi problemi! <a href="/incontro-preliminare/" ><i class="fa fa-chevron-circle-right"></i></a>
		    	</p>
    </div>
</section>