<div class="container">
    <form id="contact-form" action="//formspree.io/info@menicucci.co" method="post">
    <fieldset>
        <input type="hidden" name="_next" value="{{ site.url }}/thanks" />
        <input type="hidden" name="_subject" value="Richiesta Download" />
        <input type="text" name="_gotcha" style="display:none" />
        <!-- FORM -->
        <div class="col-sm-4">
            <div class="form-group">
                <label for="InputName">Nome</label>
                <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome" required>
                <label for="InputSurame">Cognome</label>
                <input type="text" class="form-control" name="InputSurname" id="InputSurname" placeholder="Cognome" required>
                <label for="InputEmail">Indirizzo al quale inviare il link per il Download</label>
                <input type="_replyto" class="form-control" id="InputEmail" name="InputEmail" placeholder="Indirizzo Mail" required>
            </div>
            <div class="span7 text-left">
            <p> </p>
                <button type="submit" class="btn btn-danger btn-lg">Invia >></button>
            </div>
        </div>
    </fieldset>
    </form>
</div>