<div class="container">
    <form id="contact-form" action="//formspree.io/info@menicucci.co" method="post">
    <fieldset>
        <input type="hidden" name="_next" value="{{ site.url }}/thanks" />
        <input type="hidden" name="_subject" value="Nuovo messaggio dal sito!" />
        <input type="text" name="_gotcha" style="display:none" />
        <!-- FORM -->
        <div class="col-sm-4">
            <div class="form-group">
                <label for="InputName">Nome e Cognome</label>
                <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome e Cognome" required>
                <label for="InputEmail">Indirizzo Email</label>
                <input type="_replyto" class="form-control" id="InputEmail" name="InputEmail" placeholder="Indirizzo Mail" required>
                <label for="InputMessage">Messaggio</label>
                <textarea name="InputMessage" id="InputMessage" class="form-control" rows="4" required></textarea>
            </div>
            <div class="span7 text-left">
                <button type="submit" class="btn btn-danger btn-lg">Invia >></button>
            </div>
        </div>
    </fieldset>
    </form>
</div>