---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    
    {% include browser-upgrade.html %}
    {% include masthead.html %}

      <!-- Slider -->
      <script src="{{ base_path }}/assets/iss/slider.js"></script>
      <script src="{{ base_path }}/assets/iss/extensions/captions/iis-captions.js"></script>
      <!-- Sliders on pages -->
      {% for script in page.slider_scripts %}
        {{ script }}
      {% endfor %}
      <!-- Sliders on indexes -->
      {% for post in paginator.posts %}
        {% for script in post.slider_scripts %}
          {{ script }}
        {% endfor %}
      {% endfor %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
