---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {% if page.slider_active %}
	  <!-- Slider -->
	  <script src="{{ site.baseurl }}/assets/iislider/ideal-image-slider.js"></script>
		<script>
		var slider = new IdealImageSlider.Slider('#slider');
		slider.start();
		</script>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
